<app-header></app-header>
<div class="row">
    <div class="container-fluid">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="image" src="https://originserver-static1-uat.pvrcinemas.com/pvrcms/deal/1659283034006.jpg"
                    class="card-img-top" alt="...">
            </div>
            <div class="card" style="width: 18rem;">
                <img class="image" style="width:280px; height:420px;" src="https://in.bmscdn.com/offers/offerlisting/rbl-bank-younique-credit-card-offer-rblyouc520.jpg?26092022183452"
                    class="card-img-top" alt="...">
            </div>
            <div class="card" style="width: 18rem;">
                <img class="image" src="https://originserver-static1-uat.pvrcinemas.com/pvrcms/deal/1662035894756.jpg"
                    class="card-img-top" alt="...">
            </div>
        </div>
        
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img class="image" src="https://originserver-static1-uat.pvrcinemas.com/pvrcms/deal/1654342899977.jpg"
                class="card-img-top" alt="...">
        </div>
        <div class="card" style="width: 18rem;">
            <img class="image" src="https://originserver-static1-uat.pvrcinemas.com/pvrcms/deal/1665146090022.jpg"
                class="card-img-top" alt="...">
        </div>
        <div class="card" style="width: 18rem;">
            <img class="image" style="width:280px; height:420px;" src="https://in.bmscdn.com/offers/offerlisting/au-bank-credit-card-offer-aucc1221.jpg?27092022140443"
                class="card-img-top" alt="...">
        </div>
      </div>
    </div>
</div>